/*!
 one page wonder, adapted by tdjn
 */

@import url('https://fonts.googleapis.com/css?family=Nunito');


body {
    margin-top: 50px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* To keep things verically aligned in div*/
span {
    height: 100px;
    display: table-cell;
    vertical-align: middle;
}


.header-image {
    display: block;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    background-image: url('bg.jpg');
    -webkit-background-size: cover;
    moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover
}

.header-image-ca11y {
    display: block;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    background-image: url('colourful.jpg');
    -webkit-background-size: cover;
    moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover
}
/*get rid of bullets*/
ul {
  list-style-type: none;
    
}

ul.dashed > li  {
  text-indent: -5px;
    
}

ul.dashed > li:before  {
content: "–";
      text-indent: -5px;

    
}
 
.pub-list {
  list-style-position: inside;
  padding-left: 1em;
    list-style-type: none;

}


publication-container
{
     list-style-position: inside;
  padding-left: 0;
    list-style-type: none; 
}

.boxed {
    border: 1px solid green;
    padding: 3%;
}

.paper-title {
    font-style: italic;
    font-weight: 350; /* Ensures it remains the same thickness as the main text */
}

.headline {
    padding: 150px 0;
}

.headline h1 {
    font-size: 600%;
    color: white;
    background: rgba(0, 0, 0, 0.0);

    text-underline-position: auto;
  margin-bottom: 1em; /* adds space after each paragraph */
}
}




.headline h2 {
    font-size: 200%;


    color: white;
    background: rgba(0, 0, 0, 0.0);
}

.featurette-divider {
    margin: 30px 0;
    width: 30px;
}

.featurette {
    overflow: hidden;
  
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 40px;
}

footer {
    margin: 50px 0;
}

@media(max-width:1200px) {
    .headline h1 {
        font-size: 600%;
    }

    .headline h2 {
        font-size: 200%;
    }

    .featurette-divider {
        margin: 30px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 600%;
    }

    .headline h2 {
        font-size: 200%;
    }

    .featurette-divider {
        margin: 30px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 30px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 600%;
    }

    .headline h2 {
        font-size: 200%;
          margin-bottom: 1em; /* adds space after each paragraph */

    }

    .featurette-divider {
        display: block;
        position: relative;
        padding: 0;
        margin: 8px auto;
        height: 5;
        width: 100%;
        max-height: 0;
        font-size: 10px;
        line-height: 0;
        clear: both;
        border: none;
        border-top: 1px solid #aaaaaa;
        border-bottom: 1px solid #ffffff;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 400%;
    }

    .headline h2 {
        font-size: 200%;
          margin-bottom: 1em; /* adds space after each paragraph */

    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.p ull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}

#full-size {

    overflow: hidden;
    /* or overflow:auto; if you want scrollbars */
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    background: black;
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;


}


h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
      margin-bottom: 1em; /* adds space after each paragraph */

    


}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: light;
    

}


.video-container {
    position: relative;

    padding-bottom: 60%;
    height: 0;
    width: 100%;
    margin: 0 auto;
    width: 80%;


}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


img {
    border-radius: 10%;
}

.greybox {
    background-color: whitesmoke;
    width: 100%;
    border-radius: 15px;
    padding: 5%;
    margin-bottom: 10%;
    margin-top: 10%;
    vertical-align: center;
}

.paperbox {
    background-color: whitesmoke;
    width: 100%;
    border-radius: 15px;
    padding: 2%;

    vertical-align: center;
}

#alertbox 
{
    background-color: #cfc;
    padding: 10px;
    border: 2px solid green;
    width: 80%;
    text-align: center;
    margin: 5%;
    font-size:140%;
    font-weight:300
    
    
}


bpAward
{
    font-weight: 400;
    color: palevioletred;
    text-decoration: underline;
}

/* unvisited link */

a:link 
{
  color: cadetblue;
  
}



/* mouse over link */
a:hover {
  color: cadetblue;
  text-decoration: underline;
}



.btn-white {
    background-color: #fff;
    color: #000;
    font-size: 20px;
}

.btn-white:hover {
    color: gray;
}

p {
  margin-bottom: 1.5em; /* adds space after each paragraph */
}




/*  table*/
 table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    vertical-align: top;
  }
  th {
    background-color: #f2f2f2;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }