/* style.css */



html, body {
  height: 100%;
}

body {
  margin: 5%;
}
head {
  margin: 5%;
}




 sketch-holder {
           position:center;
           top:30%;
           left:0;
           width:100%;
           height:100%;
           z-index:-1;
        }
    </style>