/*!
 * Page Wonder HTML Template, adapted by tdjn
 */

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
    margin-top: 75px;
    margin-bottom: 75px;
     background: white;
}

/* To keep things verically aligned in div*/
span {
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    
}

/* change the background color */

.navbar {
    background-color: #262626;

}


/* nav link colour */

.nav.navbar-nav li a {
   color: white;
   font-size: 14pt;
    font-weight: 700;

 }

/* nav link hover colour */
.nav.navbar-nav li a:hover {

 text-decoration: underline;

    
}




/* for dropdowns only */
.navbar-custom .navbar-nav .dropdown-menu {
    background-color: #ddaa11;
}


/* dropdown item text color */
.navbar-custom .navbar-nav .dropdown-item {
    color: #000000;
}

/* dropdown item hover or focus */
.navbar-custom .navbar-nav .dropdown-item:hover,
.navbar-custom .navbar-nav .dropdown-item:focus {
    color: #14213D;
    background-color: red;
}




.header-image {
    display: block;
     max-height: 100%;
    max-width:100%;
    text-align: center;
	background-image: url('bg.jpg');  
    -webkit-background-size: cover;
    moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover

    
}

.header-image-ca11y {
    display: block;
     max-height: 100%;
    max-width:100%;
    text-align: center;
	background-image: url('colourful.jpg');  
    -webkit-background-size: cover;
    moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover

    
}


.boxed {
  border: 1px solid green ;
  padding:3%;
}

.headline {
    padding: 150px 0;
}

.headline h1 {
    font-size: 600%;
	color: white;
    background: rgba(0,0,0,0.0);
}

.headline h2 {
   font-size: 200%;

    
    color: white;
    background: rgba(0,0,0,0.0);
}

.featurette-divider {
    margin: 30px 0;
	width:30px;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 40px;
}

footer {
    margin: 50px 0;
}

@media(max-width:1200px) {
    .headline h1 {
        font-size: 600%;
    }

    .headline h2 {
        font-size: 200%;
    }

    .featurette-divider {
        margin: 30px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 600%;
    }

    .headline h2 {
        font-size: 200%;
    }

    .featurette-divider {
        margin: 30px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 30px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 600%;
    }

    .headline h2 {
        font-size: 200%;
    }

    .featurette-divider {
       display: block;
	   position: relative;
	   padding: 0;
	   margin: 8px auto;
	   height: 5;
	   width: 100%;
	   max-height: 0;
	   font-size: 10px;
	   line-height: 0;
	   clear: both;
	   border: none;
	   border-top: 1px solid #aaaaaa;
	   border-bottom: 1px solid #ffffff;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 400%;
    }

    .headline h2 {
        font-size: 200%;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.p
ull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}

/* Footer */
#full-size{

 /* overflow:hidden; /* or overflow:auto; if you want scrollbars */
  position: fixed; 
 
  padding:0;
  width:100%;
  background:black;
  background-color: #262626;
  color:whitesmoke;
    bottom: 0px; 

    


}

h1
{
    font-family: 'Poppins-Black', sans-serif;
    font-weight: bold;
    padding-bottom: 3%;
 

}


h2
{
    font-family: 'Poppins-Black', sans-serif;
    font-weight: bold;
    margin-top:5%;
    margin-bottom: 5%;


}

p 
{
        font-family: 'Poppins-Light', sans-serif;
        font-weight: 150;
       
        background-color: white;
        font-size: 15pt;
    margin-bottom: 20px; 
}



img
{
    border-radius: 10%;
}

ol
{
        font-family: 'Poppins-Light', sans-serif;
        font-weight: 150;
       
        background-color: white;
        font-size: 15pt;
         margin-bottom: 20px; 

}


#alertbox {

  background-color: #cfc ;
  padding: 10px ;
  border: 2px solid green ;
width:80%;
    text-align: center;
margin:5%;
    font-weight: 900;
}


.highlightbox
{
	background-color:whitesmoke;
    color: black;
    padding:5%;
	width:70%;
    text-decoration-style: italic;
	border-radius: 5px;
	vertical-align: center;
    font-size: 10pt;

}

.paperbox
{
	background-color: darkslategrey;
    color: whitesmoke;
    border: solid;
    border-color: black;
	width:100%;
	border-radius: 3px;
	padding:2%; 
    margin-bottom:2%;
	margin-top: 2%;
	vertical-align: center;
}


.btn-white
{
	background-color:#fff;color: #000;
	font-size:20px;
}

.btn-white:hover
{
	color: gray;
    
}



.vcenter-item{
    display: flex;
    align-items: center;
}
 